name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name:  Emacs ${{matrix.emacs_version}} | ${{matrix.lisp}} | ${{matrix.os}}
    runs-on: ${{matrix.os}}
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        lisp: [sbcl, ccl]
        # Use Emacs "LTS" versions (the last release of every major one).
        emacs_version: [24.5, 25.3, 26.3, 27.2, 28.2, 29.4, 30.2]
        exclude:
          # Nix doesn't provide CCL for aarch64-darwin.
          - os: macos-latest
            lisp: ccl
          # purcell/setup-emacs provides:
          # (Intel MacOS) Emacs >=24.3
          # (ARM MacOS)   Emacs >=28.1
          - os: macos-latest
            emacs_version: 24.5
          - os: macos-latest
            emacs_version: 25.3
          - os: macos-latest
            emacs_version: 26.3
          - os: macos-latest
            emacs_version: 27.2

    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-25.05
    - uses: purcell/setup-emacs@master
      with:
        version: ${{matrix.emacs_version}}

    # - run: nix-shell -p ${{matrix.lisp}} --run "${{matrix.lisp}} --version"
    # - run: nix-shell -p ${{matrix.lisp}} --run "emacs --version"
    - run: nix-shell -p ${{matrix.lisp}} --run "LISP=${{matrix.lisp}} make check"
